<% property = inspiration.property %>
<li>
  <div class="list-box-listing">
    <div class="list-box-listing-img">
      <%= link_to image_tag(property.main_image_url), property_path(property) %>
    </div>
    <div class="list-box-listing-content">
      <div class="inner">
        <h3><%= link_to property.name, property_path(property) %></h3>
        <span><%= property.full_address_formated.html_safe %></span>
        <div class="star-rating" data-rating="<%= property.avg_rating %>">
          <div class="rating-counter"><%= review_counts(property) %></div>
          </div>
      </div>
    </div>
  </div>
  <div class="buttons-to-right">
    <%= link_to dashboard_inspiration_path(inspiration), class: 'button gray reject cancel-reservation', 'data-method' => :delete, 'data-confirm' => t('label.are_you_sure'), remote: true do %>
        <i class="sl sl-icon-close"></i> <%= t('label.delete') %>
    <% end%>
  </div>
</li>
