<div class="user-area user-area-left">
  <div class="DashboardProfileCard  module">
    <%= link_to user_profile_link(user), class: "DashboardProfileCard-bg u-bgUserColor u-block" do %>
        <%= image_tag user_cover_photo(user, :thumb), class: '' %>
    <% end %>

    <div class="DashboardProfileCard-content">
      <%= link_to user_profile_link(user), class: "DashboardProfileCard-avatarLink u-inlineBlock", title: user.name do %>
          <%= image_tag user_avatar_image(user, :thumb), class: 'DashboardProfileCard-avatarImage js-action-profile-avatar' %>
      <% end %>

      <div class="DashboardProfileCard-userFields account-group">
        <div class="DashboardProfileCard-name u-textTruncate">
          <%= link_to user.name, user_profile_link(user), class: "u-textInheritColor js-nav", title: user.name %>
          <span class="UserBadges"></span>
        </div>
        <span class="DashboardProfileCard-screenname u-inlineBlock u-dir" dir="ltr">
          <%= link_to user_profile_link(user), class: "DashboardProfileCard-screennameLink u-linkComplex u-linkClean js-nav", title: user.name do %>
            <span class="username u-dir" dir="ltr">@<b class="u-linkComplex-target"><%= user.handle %></b></span>
          <% end %>
        </span>
      </div>

      <div class="row text-center user-stats margin-top-15">
        <div class="col-md-4">
          <div>
            <strong>Stories</strong>
          </div>
          <span><%= user.stories_count %></span>
        </div>
        <div class="col-md-4">
          <div><strong>Inspired</strong>
          </div>
          <span><%= user.inspirations_count %></span>
        </div>
        <div class="col-md-4">
          <div><strong title="Inspiration Point">IP</strong>
          </div>
          <span><%= user.net_inspiration_point %></span>
        </div>

      </div>
      <div id="user-area-profile-prompt"></div>

    </div>
  </div>


  <div class="module Trends trends">
    <div class="trends-inner">
      <div class="flex-module trends-container context-trends-container">
        <div class="flex-module-header">

          <h3><span class="trend-location js-trend-location">Preferred Categories</span></h3>

        </div>
      </div>
    </div>
  </div>
</div>
