<div class="user-area user-area-left">
  <div class="DashboardProfileCard  module">
    <%= link_to brand_profile_link(brand), class: "DashboardProfileCard-bg u-bgUserColor u-block" do %>
        <%= image_tag brand_cover_photo(brand, :thumb), class: '' %>
    <% end %>

    <div class="DashboardProfileCard-content">
      <%= link_to brand_profile_link(brand), class: "DashboardProfileCard-avatarLink u-inlineBlock", title: brand.name do %>
          <%= image_tag brand_logo_image(brand, :thumb), class: 'DashboardProfileCard-avatarImage js-action-profile-avatar' %>
      <% end %>

      <div class="DashboardProfileCard-userFields account-group">
        <div class="DashboardProfileCard-name u-textTruncate">
          <%= link_to brand.name, brand_profile_link(brand), class: "u-textInheritColor js-nav", title: brand.name %>
          <span class="UserBadges"></span>
        </div>
        <span class="DashboardProfileCard-screenname u-inlineBlock u-dir" dir="ltr">
          <%= link_to brand_profile_link(brand), class: "DashboardProfileCard-screennameLink u-linkComplex u-linkClean js-nav", title: brand.name do %>
            <span class="username u-dir" dir="ltr">@<b class="u-linkComplex-target"><%= brand.handle %></b></span>
          <% end %>
        </span>
      </div>

      <div class="row text-center user-stats">
        <div class="col-md-12" style="margin-top: 10px">
          <div class="col-md-4">
            <strong>Stories</strong>
            <span><%= brand.stories_count %></span>
          </div>
          <div class="col-md-4">
            <strong>Followers</strong>
            <span>32</span>
          </div>
          <div class="col-md-4">
            <strong>Following</strong>
            <span>32</span>
          </div>
        </div>
      </div>
      <div id="user-area-profile-prompt"></div>

    </div>
  </div>


  <div class="module Trends trends">
    <div class="trends-inner">
      <div class="flex-module trends-container context-trends-container">
        <div class="flex-module-header">

          <h3><span class="trend-location js-trend-location">Trends for you</span></h3>
          <span class="middot" aria-hidden="true">·</span>
          <a role="button" href="#" data-modal="change-trends" class="btn-link change-trends js-trend-toggle">
            <span aria-hidden="true">Change</span>
            <span class="u-hiddenVisually">Change trend settings</span>
          </a>
        </div>
        <div class="flex-module-inner">
          <ul class="trend-items js-trends">
            <li class="trend-item js-trend-item  context-trend-item" data-trend-name="#RoyalWedding" data-trends-id="-7666745841716761420" data-trend-token=":tailored_request:hashtag_trend:taxi_region_source:tweet_count_1000000_10000000_metadescription:">

              <a class="pretty-link js-nav js-tooltip u-linkComplex" href="/hashtag/RoyalWedding?src=tren" data-query-source="trend_click" data-original-title="">
                <span class="u-linkComplex-target trend-name" dir="ltr">#RoyalWedding<img class="twitter-hashflag" src="https://abs.twimg.com/hashflags/royalwedding2018/royalwedding2018.png" draggable="false" alt=""></span>


                <div class="js-nav trend-item-context"></div>
                <div class="js-nav trend-item-stats">
                  5.79M Tweets
                </div>
              </a>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
