<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Inspiring Bangladesh" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Inspiring Bangladesh" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= stylesheet_link_tag 'colors/main', media: 'all', 'data-turbolinks-track' => 'reload', id: 'colors' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <%= render 'layouts/dashboard_header' %>
  <div id="dashboard">
    <%= render 'layouts/agent_dashboard_links' %>

    <div class="dashboard-content">
      <%= render 'layouts/messages' %>

      <%= yield %>
      <!-- Copyrights -->
      <div class="col-md-12">
        <div class="copyrights">© <%= Date.today.year %> InspiringBD. All Rights Reserved.</div>
      </div>
    </div>

  </div>

</div>
</div>
</body>
</html>
