<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Space Match" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Space Match" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= stylesheet_link_tag 'colors/main', media: 'all', 'data-turbolinks-track' => 'reload', id: 'colors' %>
  <script></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= ltr_rtl %>">
<div id="wrapper">
  <%= render 'layouts/header' %>
  <%= render 'parts/common_popups' %>
  <div class="flash-container">
    <%= render 'layouts/messages' %>
  </div>
  <%= yield %>
  <%= render 'layouts/footer' %>
  <!-- Back To Top Button -->
  <div id="backtotop"><a href="#"></a></div>

</div>
</body>
</html>

<script type="text/javascript" charset="utf-8">
    $(function(){
//        if($('.flash-container .notification').length > 0){
//            $('.flash-container').css('marginTop', '100px');
//        }
    })
</script>
